<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title>GetStarted - Login to CloudPics</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2>Welcome Back</h2>
        <form action="/login", method="post">
            <input type="email" name="email" id="email" class="email-input" placeholder="abc@gmail.com" value="vishal@gmail.com">
            <input type="password " name="password" id="password" class="password-input" placeholder="...........", value="password123">

            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>