* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: cadetblue;
}

.action-btn {
    font-size: 28px;
    text-decoration: none;
    background: orangered;
    color: white;
    padding: 10px 15px;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    box-shadow: 1px 1px 6px 0px black;
    text-transform: capitalize;
}