.login-container {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'Inter';
}

.email-input {
    width: 100%;
    padding: 5px 2px;
    font-size: 18px;
    outline: none;
    margin-bottom: 15px;
}

.password-input {
    width: 100%;
    padding: 5px 2px;
    font-size: 18px;
    outline: none;
    margin-bottom: 15px;
}

input[type='submit'] {
    font-size: 25px;
    text-decoration: none;
    background: rgb(9, 65, 235);
    color: white;
    padding: 6px 25px;
    display: flex;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 0px 3px 0px black;
    text-transform: capitalize;
    cursor: pointer;
}